# Do not store hidden files and directories, including .idea project
.*

# Do not store anything starting with _
_*

# Do not store .class files
*.class

# Store .git files
!.git*

# Compiled test files
*.jar

# Iml file
paradigms.iml

# Test files
/java-solutions/**/*Tester.java
/java-solutions/**/*Test.java
/java-solutions/**/*TestSet.java
/javascript-solutions/*test.js
/javascript-solutions/*Test.js



# Package info files
/java-solutions/**/package-info.java

# base directory
/java-solutions/base/

# expression/comon directory
/java-solutions/expression/common/


# Expression
/java-solutions/expression/BigIntegerExpression.java
/java-solutions/expression/Expression.java
/java-solutions/expression/ToMiniString.java
/java-solutions/expression/TripleExpression.java
/java-solutions/expression/parser/Operations.java
/java-solutions/expression/parser/TripleParser.java
/java-solutions/expression/ListExpression.java

# Expception
/java-solutions/expression/exceptions/TripleParser.java

# Queue
/java-solutions/queue/*Test.java
!/java-solutions/queue/*MyTest.java
/java-solutions/queue/Queues.java

# Generic
/java-solutions/expression/generic/Tabulator.java

# Compiled files
/out/

# Javascript test directory
/javascript